.banner{
    color: var(--principal-font-color);
    background: var(--background-banner);
    text-align: center;
    padding: 2.5em 2em;
}

.title__banner{
    font-size: 1.2em;
    font-weight: 700;
}

p.paragraph__banner{
    font-weight: 500;
    margin: 5% 0;
}

input.input__banner{
    padding: 5% 5%;
    background-color: transparent;
    color: var(--principal-font-color);
    border: 1px solid var(--principal-font-color);
    border-radius: 1.5em;
    width: 100%;
}

.input__banner::placeholder{
    font-family: var(--principal-font);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: var(--principal-font-color);
    background: url("../assets/lup.png") no-repeat;
    padding-left: 6%;
}
