.head__menu_hamburguer{
    width: 1.5rem;
    height: 1.5rem;
    background-image: url("../assets/default_menu.png");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.header_style{
    width: 100vw;
    background-color: var(--background-header-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container{
    display: flex;
    align-items: center;
}

.container__image{
    padding: 0.5em;
}

.menu_list{
    display: none;
    position: absolute;
    top: 100%;
}

.container__button:checked~.menu_list{
    display: block;
}

.container__button{
    opacity: 0;
}

.menu_list__title{
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--title-menu-hamburguer-color);
}

.menu_list__title,
.menu_list__item{
    padding: 1em;
    background-color: var(--background-header-color);
    width: 60vw;
}

a.list_menu__link{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--items-menu-color);
}
