.head__menu_hamburguer{
    width: 1.5rem;
    height: 1.5rem;
    background-image: url("../assets/default_menu.png");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.header_style{
    width: 100vw;
    background-color: var(--background-header);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container{
    display: flex;
    align-items: center;
}

.container__image{
    padding: 1em;
}

.menu_list{
    display: none;
    position: absolute;
    top: 100%;
}

.container__button:checked~.menu_list{
    display: block;
}
