@import url("header.css");
@import url("banner.css");

:root{
    --background-color: #EBECEE;
    --background-header-color: #FFFFFF;
    --background-banner: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --title-menu-hamburguer-color: #EB9B00;
    --items-menu-color: rgba(0, 47, 82, 1);
    --principal-font-color: #FFFFFF;

    --principal-font: 'Poppins'
}

body {
    background-color: var(--background-color);
    font-family: var(--principal-font);
    font-weight: 400;
    font-size: 1em;
}