@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,600;1,400&display=swap');

:root{
    --main-color: #212121;
    --main-words-color:  #f5fafaec;
    --secondary-color: #ECB365;
    --black-default: #0D7377;
    --backgorund-black-hover: rgba(39, 39, 39, 1);

    --first-font: 'Krona One', sans-serif;
    --secondary-word: 'Monserrat', sans-serif;
}
    
body{
    background-color: var(--main-color);
    color: var(--main-words-color);
    width: 100vw;   
    box-sizing: border-box;
    overflow-x: hidden;
}

header.navigation{
    padding: 3% 0 0 10%;
}

.navigation__menu{
    display: flex;
    gap: 80px;
}

.navigation__menu__link{
    font-family: var(--secondary-word);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--secondary-color);
    text-decoration: none;
}

strong{
    color: var(--secondary-color);
}

main.presentation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6% 8%; 
    overflow: hidden;
}

section.presentation__assignment{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

h1.presentation__assignment__title{
    font-size: 2rem;
    font-family: var(--first-font);
}

p.presentation__assignment__paragraphs{
    font-size: 1.5rem;
    font-family: var(--first-font);
    margin-bottom: 5%;
}

div.presentation__assignment__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

h2.presentation__links__subtitle{
    font-family: var(--first-font);
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 48px;
    color: var(--main-words-color);
}

.presentation__links__link{
    border: 2px solid var(--secondary-color);
    /* background-color: #000000; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
    box-sizing: border-box;
    width: 60%;
    border-radius: 16px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    font-family: var(--secondary-word);
    color: var(--main-words-color);
    text-decoration: none;
}

.presentation__links__link:hover{
    background-color: var(--backgorund-black-hover);
}

img#personal-image{
    border: 1px solid var(--secondary-color);
    border-radius: 8%;
    width: 40%;
}

footer.footer{
    color: var(--main-color);
    padding: 24px;
    background-color: var(--secondary-color);
    text-align: center;
}

footer a.footer_links{
    margin-right: 0.8em;
    text-decoration: none;
}

footer div.icons_footer{
    padding-bottom: 1em;
}

@media (max-width: 1200px){

    header.navigation {
        padding: 3%;
    }

    .navigation__menu {
        justify-content: center;
    }

    .presentation{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .presentation__assignment {
        width: auto;
        margin-top: 10%;
    }

    h1.presentation__assignment__title{
        font-size: 1.6rem;
    }

    p.presentation__assignment__paragraphs{
        font-size: 1.2rem;
    }

    h2.presentation__links__subtitle{
        font-size: 1.2rem;
    }

}
